[Dataset: Commercial Bank Failures, 1934-Present](https://www.kaggle.com/fdic/bank-failures)

In [1]:
import pandas as pd

In [2]:
bank = pd.read_csv("/Users/AdamLiu/Code/Machine_Learning/Datasets/Kaggle/bank-failures.csv")

In [3]:
print(bank.columns.values)

['Financial Institution Number' 'Institution Name' 'Institution Type'
 'Charter Type' 'Headquarters' 'Failure Date' 'Insurance Fund'
 'Certificate Number' 'Transaction Type' 'Total Deposits' 'Total Assets'
 'Estimated Loss (2015)']

In [4]:
bank.loc[:, 'Headquarters'].value_counts()

HOUSTON, TX            76
DALLAS, TX             47
CHICAGO, IL            40
SAN ANTONIO, TX        38
LOS ANGELES, CA        34
AUSTIN, TX             33
NEW ORLEANS, LA        21
DENVER, CO             21
MIAMI, FL              20
NEW YORK, NY           19
OKLAHOMA CITY, OK      18
PHOENIX, AZ            16
ATLANTA, GA            15
BOSTON, MA             15
SAN DIEGO, CA          13
PLANO, TX              13
SAN FRANCISCO, CA      12
SCOTTSDALE, AZ         12
ARLINGTON, TX          11
BATON ROUGE, LA        11
FORT WORTH, TX         11
TYLER, TX              10
SALT LAKE CITY, UT      9
PHILADELPHIA, PA        9
KANSAS CITY, MO         9
ALBUQUERQUE, NM         9
METAIRIE, LA            9
NEWPORT BEACH, CA       8
BIRMINGHAM, AL          8
EL PASO, TX             8
                       ..
COMANCHE, TX            1
BRADLEY, IL             1
CARLISLE, MN            1
HUNTINGTON, WV          1
PROTECTION, KS          1
VERNAL, UT              1
DEARBORN, MI            1
CLAYTON, GA             1
BROWNSTOWN, IN          1
CLAXTON, GA             1
DRAPER, NC              1
SAN LUIS OBISPO, CA     1
WYOMING, MN             1
HANCOCK, MN             1
RATHDRUM, ID            1
ELBA, NE                1
WORTH, IL               1
DETROIT LAKES, MN       1
AUBURN, IA              1
VAN NUYS, CA            1
KERENS, TX              1
NEWBERN, TN             1
CORVALLIS, OR           1
EAST ALTON, IL          1
LEWISTON, ME            1
ROCKY FORD, CO          1
GENEVA, NE              1
NORTH BEND, OR          1
MORELAND, KY            1
SUSSEX, WI              1
Name: Headquarters, dtype: int64

In [5]:
states = []
for city in list(bank.loc[:, 'Headquarters']):
    states.append(city.split(", ")[1])

In [6]:
bank.loc[:, 'Institution Name'].value_counts()

FIRST STATE BANK                         37
THE FIRST STATE BANK                     18
FARMERS STATE BANK                       16
CITIZENS STATE BANK                      10
FIRST FED. S & L ASSOC.                   9
FIRST NATIONAL BANK                       8
CITIZENS NATIONAL BANK                    7
SECURITY STATE BANK                       6
THE FARMERS STATE BANK                    6
FIRST FS & LA                             6
PEOPLES STATE BANK                        6
FARMERS & MERCHANTS BANK                  6
CITIZENS BANK                             6
AMERICAN NATIONAL BANK                    5
THE HOME STATE BANK                       5
TEXAS NATIONAL BANK                       5
COMMERCIAL STATE BANK                     4
COMMUNITY BANK                            4
THE CITIZENS BANK                         4
PREMIER BANK                              4
AMERICAN BANK & TRUST COMPANY             4
FIRST FEDERAL SAVINGS & LOAN              4
WESTERN NATIONAL BANK                     4
THE PEOPLES BANK                          4
THE BANK OF COMMERCE                      3
SOUTHWEST NATIONAL BANK                   3
FIRST FEDERAL SAVINGS                     3
THE CITIZENS STATE BANK                   3
COMMUNITY NATIONAL BANK                   3
UNITED FS & LA                            3
                                         ..
JEFFERSON FEDERAL SA                      1
MIDWEST FEDERAL SAVINGS BANK              1
FIRST NATIONAL BANK OF IRVING             1
LARUE FS&LA                               1
COMMUNITY FEDERAL SAVINGS BANK            1
MOULTRIE SAVINGS BANK FSB                 1
FALLBROOK NATIONAL BANK                   1
PHOENIX FS&LA                             1
FIRST SOUTHERN NATIONAL BANK              1
FINANCIAL SECURITY S & L ASSOC.           1
UNIFIRST BANK FOR SAVINGS                 1
CITY FS & LA                              1
SUN SAVINGS ASSOCIATION, FA               1
AQUIA BK & TR COMPANY                     1
THE FIRST NATIONAL BANK OF DODGEVILLE     1
SOONER FEDERAL SAVINGS ASSOC.             1
FIRST REPUBLICBANK-EL PASO, N.A.          1
EVERGREEN STATE BANK                      1
COLUMBIA FEDERAL HOMESTEAD                1
GEORGIA TRUST BANK                        1
FIRST STATE BANK OF MAX                   1
CITY & COUNTY BK OF ANDERSON CTY          1
GOLDEN PACIFIC NATIONAL BANK              1
UNIVERSAL S&LA                            1
CAPITAL BANK & TRUST CO.                  1
BALDWINSVILLE STATE BANK                  1
MONROE SAVINGS BANK, FSB                  1
UVALDE FS & LA                            1
THE INA STATE BANK                        1
FIRST FS & LA OF COFFEYVILLE              1
Name: Institution Name, dtype: int64