In [1]:
import sys
sys.path.append("/Users/AdamLiu/anaconda/pkgs")
import pandas as pd

In [2]:
# read CSV file directly from a URL and save the results
data = pd.read_csv('http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv', index_col=0)

# check the shape of the DataFrame (rows, columns)
data.shape

(200, 4)

In [3]:
# display the first 5 rows
data.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [4]:
# display the last 5 rows
data.tail()

        TV  Radio  Newspaper  Sales
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

### The features are:

- TV: advertising dollars spent on TV for a single product in a given market (in thousands of dollars)
- Radio: advertising dollars spent on Radio
- Newspaper: advertising dollars spent on Newspaper

### The responses are:

- Sales: sales of a single product in a given market (in thousands of items)

In [5]:
# conventional way to import seaborn
import seaborn as sns

# allow plots to appear within the notebook
%matplotlib inline


# for the seaborn issue, check out this post:
# http://stackoverflow.com/questions/34963703/ipython-notebook-shows-import-error-for-seaborn-even-when-package-is-installed-i

# and also, this is the post that shows how to deal with this dataset

ImportError: No module named 'seaborn'